*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.container{
  width: 400px;
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start ;
  flex-wrap: wrap;
  padding: 5px;
}
.container .boxes{
  width: 20px;
  height: 20px;
  border:1px solid #e0cfcf;
  border-radius: 5px;
  background-color: #1D1D1D;
  margin: 3px;
  cursor: pointer;
  /* transition: 0.2s ease-in-out; */
}